body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%) scale(1);
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

@supports (backdrop-filter: none) {
    div.container {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px);
    }
}

div.sutra {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: yellow;
    transform: translate(-50%, -50%);
    /* outline brown, 3 div in this sutra, 2 corgi and 1 paper */
}
