body {
    background-image: url("dodo.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    border-radius: 10px;
    top: 20px; bottom: 20px; left: 20px; right: 20px;
    margin: auto;

    background: rgba(255, 255, 255, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    animation-name: zoom;
    animation-duration: 1s;
}

@supports (backdrop-filter: none) {
    .container {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(8px);
    }
}

@keyframes zoom {
    0% { 
        top: 900px; bottom: 900px; left: 900px; right: 900px;
    }
    100% {
        top: 20px; bottom: 20px; left: 20px; right: 20px;
    }
}
