body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%) scale(1);
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

@supports (backdrop-filter: none) {
    div.container {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px);
    }
}

canvas {
    cursor: pointer;
}

div.drawing_toolbar {
    height: 400px;
    width: 100px;
    margin-left: 15px;
    position: relative;
}

.drawing_toolbar button {
    background-color: transpernt;
    width: 90px;
    height: 40px;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    border-radius: 3px;
    position: absolute;
    transform: translate(-50%, -50%);
}

#undo_canvas {
    top: 8%;
}

#clear_canvas {
    top: 21%;
}

.drawing_toolbar input.color_picker {
    position: absolute;
    top: 39%;
    left: 50%;
    width: 50px;
    height:50px;
    transform: translate(-50%, -50%);
}

.drawing_toolbar input.pen_size {
    position: absolute;
    appearance: slider-vertical;
    top: 71%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.drawing_toolbar button.done {
    font-family: "Comfortaa", sans-serif;
    top: 100%;
    border: 0px;
    background-color: transparent;
    overflow: hidden;
}

.drawing_toolbar button.done:before {
    content: "";
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    background-image: conic-gradient(
        #ff2e4e,
        #d960ff,
        #9264ff,
        #00b3f9,
        #06cd69,
        #ffcd00,
        #ff5c22,
        #ff2e4e
    );
    z-index: -1;
}

.drawing_toolbar button.done:after {
    content: "Done";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 3px;
    background-color: #f0f0f0;
    display: grid;
    place-items: center;
}

.drawing_toolbar button.done:hover:before{
    animation: spin 1s linear infinite;
}

.drawing_toolbar button.done:hover:after{
    animation: shrink 0.2s ease-out forwards;
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes shrink {
    100% {
        height: 85%;
        width: 93%;
        top: 7.5%;
        left: 4%;
    }
}
