body {
    background-color: #f3be30;
    margin: auto;
    padding: auto;
}

div.title-text{
    position: absolute;
    left: 50%;
    margin-left: -252px; /* Calculated by font size only */
}

.title-text span {
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    text-align: center;
    font-size: 72px;
    display: inline-block;
}

.title-text span:nth-child(1) {
    text-shadow: -4px 4px #d95d5d,
                 -8px 8px #33383c;
}

.title-text span:nth-child(2) {
    text-shadow: -4px 4px #db8525,
                 -8px 8px #33383c;
}

.title-text span:nth-child(3) {
    text-shadow: -4px 4px #e8c43c,
                 -8px 8px #33383c;
}

.title-text span:nth-child(4) {
    text-shadow: -4px 4px #bed649,
                 -8px 8px #33383c;
}

.title-text span:nth-child(5) {
    text-shadow: -4px 4px #9ecbdb,
                 -8px 8px #33383c;
}

.title-text span:nth-child(6) {
    text-shadow: -4px 4px #6399a5,
                 -8px 8px #33383c;
}

.title-text span:nth-child(7) {
    text-shadow: -4px 4px #c771a1,
                 -8px 8px #33383c;
}
input {
    font-family: "Comfortaa", sans-serif;
    position: absolute;
    text-align: left;
    transform: translate(-50%, -50%); /* I have no idea why this is still here, the margin works */
    width: 150px; /* I still have no idea why one of them ( width and margin-left ) must be px, and another */
    height: 30px; /* must be non-px */
    margin-left: -75;
    font-size:36px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: none;
    z-index: 5;
}

input:focus { outline: none; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[name="exam1"] {
    top: 30%;
    left: 40%;
}

input[name="exam2"] {
    top: 30%;
    left: 60%;
}

input[name="exam3"] {
    top: 55%;
    left: 40%;
}

input[name="teachersmood"] {
    top: 55%;
    left: 60%;
}

/* https://charles098.tistory.com/199 */
label {
    font-family: "Noto Sans TC", sans-serif;
    position: absolute;
    color: #aaa;
    font-size: 20px;
    bottom: 8px;
    transition: all .2s;
}

span.exam1 {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
    top: 32.2%; /* I'm utterly sorry xDDD */
    left: 40%;
    margin-left: -86px;
}

label.exam1 {
    top: 28%;
    left: 40%;
    margin-left: -86px;
}

span.exam2 {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
    top: 32.2%;
    left: 60%;
    margin-left: -86px;
}

label.exam2 {
    top: 28%;
    left: 60%;
    margin-left: -86px;
}

span.exam3 {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
    top: 57.2%;
    left: 40%;
    margin-left: -86px;
}

label.exam3 {
    top: 53.2%;
    left: 40%;
    margin-left: -86px;
}

span.teachersmood {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
    top: 57.2%;
    left: 60%;
    margin-left: -86px;
}

label.teachersmood {
    top: 53.2%;
    left: 60%;
    margin-left: -86px;
}

input[name="exam1"]:focus ~ label.exam1, input[name="exam1"]:valid ~ label.exam1 {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
    transform: translateY(-27px);
}

input[name="exam1"]:focus ~ span.exam1, input[name="exam1"]:valid ~ span.exam1 {
    width: 172px;
}

input[name="exam2"]:focus ~ label.exam2, input[name="exam2"]:valid ~ label.exam2 {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
    transform: translateY(-27px);
}

input[name="exam2"]:focus ~ span.exam2, input[name="exam2"]:valid ~ span.exam2 {
    width: 172px;
}

input[name="exam3"]:focus ~ label.exam3, input[name="exam3"]:valid ~ label.exam3 {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
    transform: translateY(-27px);
}

input[name="exam3"]:focus ~ span.exam3, input[name="exam3"]:valid ~ span.exam3 {
    width: 172px;
}

input[name="teachersmood"]:focus ~ label.teachersmood, input[name="teachersmood"]:valid ~ label.teachersmood {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
    transform: translateY(-27px);
}

input[name="teachersmood"]:focus ~ span.teachersmood, input[name="teachersmood"]:valid ~ span.teachersmood {
    width: 172px;
}

button.submit {
    font-family: "Noto Sans TC", sans-serif;
    text-align: center;
    color: #000000;
    border: 0px solid #c73337;
    border-radius: 0px;
    padding: 0 15px;
    cursor: pointer;
    height: 50px;
    width: 90;
    font-size: 32px;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -45px; /* Same here, what in the world */
}

button.submit:hover {
    box-shadow: 1px 1px #c24448, 2px 2px #c24448, 3px 3px #c24448;
    transform: translateX(-3px);
}

button.submit:active {
    box-shadow: 0px 0px #c24448, 0px 0px #c24448, 0px 0px #c24448;
    transform: translateY(4px);
} 
